.add-contact-popover {
  z-index: 2;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);

  img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
  }

  .avatar {
    position: relative;
    margin-bottom: 20px;
  }

  .add-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
  }

  .not-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    font-size: 24px;
    color: #fff;
    font-weight: 300;
    border-radius: 50%;
    background: gray;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  .contact-box {
    background: #ffffff;
    padding: 100px 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
  }

  mat-form-field {
    width: 250px;
  }

  button {
    margin-bottom: 10px;
    width: 100%;
  }
}
